{% extends 'book/base.html' %}
{% load static %}

{% block title %}BookSite Demo{% endblock title %}

{% block context_data %}

  {% for item in book_filter %}
    {{ item.name }}
  {% endfor %}
  {% for item_book in book %}
    <div class="card mb-3">
      <div class="card-header">
        <b>Категория:</b>
        <a class="card-title" href="{{ item_book.category.get_absolute_url }}" style="text-decoration:none"><br><h5><la>{{ item_book.category.name }}</la></h5></a>
      </div>
        <div class="card-body">
          <div class="media">
            <link href="{% static 'bootstrap-5.2.2-dist/css/style.css' %}" rel="stylesheet">
              <a class="card-title" href="{{ item_book.get_absolute_url }}" style="text-decoration:none"><h5><la>{{ item_book.name }}</la></h5></a>
                <div class="men-thumb-item">
                  <a href="{{ item_book.get_absolute_url }}" class="list-group-item list-group-item-action">
                    <img src="{{ item_book.images.url }}" width="250" height="250" class="img-fluid" alt="">
                  </a>
                </div>
                <b>Год издания: </b>{{ item_book.year_edition }}
                <br><b>Дата публикации: </b>{{ item_book.date_published }}
                {% for author in item_book.author.all %}
                  <br><b>Автор: </b>
            <a href="{{ author.get_absolute_url }}" style="text-decoration:none"><la>{{ author.name }}</la></a>
              {% endfor %}
            <p class="card-text"><b>Описание:</b><br>{{ item_book.descriptions|truncatewords:50 }}</p>
            <a href="{{ item_book.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <div class="card-footer text-muted">
          Дата публикации:
          {{ item_book.date_published|date:"Y-m-d"}}
        </div>
    </div>
  {% endfor %}

{% endblock context_data %}
